body {
  background-color: rgb(243, 221, 235);
}
.container {
  margin: 40px auto;
  max-width: 600px;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
}

header {
  margin-bottom: 30px;
}

form {
  padding: 20px;
  background-color: white;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

.hidden {
  display: none;
}
.instructions {
  padding: 20px;
  border: 1px solid rgb(243, 221, 235);
  width: 80%;
  font-size: 16px;
  border-radius: 20px;
  line-height: 20px;
}

.submit-button {
  margin-left: 10px;
  background-color: rgb(243, 221, 235);
  color: black;
  border: none;
  border-radius: 20px;
  padding: 20px;
  width: 120px;
  font-size: 16px;
}

.quiz {
  font-size: 16px;
  background-color: white;
  padding: 20px;
  line-height: 2;

  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.05);
  border-radius: 10px;
}

footer {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  background-color: white;
  border-radius: 5px;
}

a {
  color: rgb(136, 17, 96);
}
